[submodule "design/EEET2604"]
	path = design/EEET2604
	url = git@github.com:whammou/EEET2604
    branch = main
[submodule "design/OENG1181"]
	path = design/OENG1181
	url = git@github.com:whammou/OENG1181
    branch = main
[submodule "design/MIET2510"]
	path = design/MIET2510
	url = git@github.com:whammou/MIET2510
    branch = main
[submodule "math/MATH2349"]
	path = math/MATH2349
	url = git@github.com:whammou/MATH2349
    branch = main
[submodule "physics/oeng1209"]
	path = physics/oeng1209
	url = git@github.com:whammou/OENG1209
    branch = main
[submodule "design/EEET2603"]
	path = design/EEET2603
	url = git@github.com:whammou/EEET2603
    branch = main
[submodule "design/OENG1205"]
	path = design/OENg1205
	url = git@github.com:whammou/OENG1205
    branch = main
